@import '../movie-card/movie-card.component.scss';

h2 {
  text-align: center;
}

.profile-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;

  mat-card-title {
    font-size: larger;
  }
}

.profile-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;

    mat-form-field {
      width: 100%;
    }

    .button-container {
      display: flex;
      gap: 16px;
      margin-top: 20px;

      button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 16px;

        mat-icon {
          margin-right: 4px;
        }
      }
    }
  }
}

.favorite-container {
  margin: auto;
  text-align: center;
}